.env
.env.*
!.env.example

.git
.gitignore
.github

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.result.cache
.DS_Store
npm-debug.log*
